<ion-view title="Messages" id="page6">
    <ion-content padding="false" class=" manual-remove-top-padding has-header">
        <ion-list id="messages-list1">
            <ion-item class="item-thumbnail-left" id="messages-list-item1" ui-sref="tabsController.textMessage">
                <img src="img/KYXOgKQROai2wu3WtLNQ_4.jpg">
                <h2>Rick Norman</h2>
                <p>Hey?Whats...</p>
            </ion-item>
            <ion-item class="item-thumbnail-left" id="messages-list-item2" ui-sref="tabsController.textMessage">
                <img src="img/OKxo9Z8NRSabTrdbvsy4_2.jpg">
                <h2>John Crowl</h2>
                <p>Maybe tomm...</p>
            </ion-item>
            <ion-item class="item-thumbnail-left" id="messages-list-item3" ui-sref="tabsController.textMessage">
                <img src="img/PT1bVbhhThK7fyQTbjw1_1.jpg">
                <h2>Julia Varts</h2>
                <p>No,I dont l...</p>
            </ion-item>
            <ion-item class="item-thumbnail-left" id="messages-list-item4" ui-sref="tabsController.textMessage">
                <img src="img/mnW9bbhJT1CEQ4LoJkG1_3.jpg">
                <h2>Georg Vasilev</h2>
                <p>Looks good an...</p>
            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>